#page {
    margin: 0;
    background: white;
    width: 100%;
    border: 0;
}
#header {
	background-color: #FFFFFF;
	width: 100%;
	height: 54px;
    border: none;
}
#logo{
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
    padding: 0;
}
h1 {
    font-size: 40px;
}
#header #logo {
	background-image: url('../images/inicio/logo-chico-01.png');
	width: 136px;
	height: 42px;
	margin: 0 auto;
	padding: 0;
	margin-top: 6px;
}
.header-container {
    position: relative;
    width: 100%;
}
.header-container {
    position: relative;
    width: 100%;
}
.seach-wrapper {
    width: 100%;
    height: 66px;
    background-color: rgba(77,25,80,0.2);
    position: absolute;
    top: 0;
    z-index: 9999;
}
input.buscador {
    height: 34px;
    width: 592px;
    padding-left: 17px;
    opacity: 1;
    border: 0;
    border-radius: 4px 0px 0px 4px;
    display: block;
    float: left;
}
select.dropdown {
    background-color: #FFFFFF;
    margin-left: 2px;
    height: 36px;
    border: none;
    padding: 0;
    width: 313px;
    padding-left: 17px;
    border-radius: 0px 4px 4px 0px;
    display: block;
    float: left;
}
span.search-button {
    width: 34px;
    height: 34px;
    display: block;
    float: left;
    margin-left: 10px;
    background-color: #D5B1CF;
    border-radius: 4px;
}
.search-content {
    width: 100%;
    max-width: 972px;
    margin: 0 auto;
    margin-top: 15px;
}
.search-content:after {
	content:'';
	clear: both;
	display: block;
}
.carrucel {
    width: 100%;
    height: 618px;
    overflow: hidden;
}
.carrucel ul {
	width: 300%;
	height: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.carrucel ul li {
	width: 33.33333%;
	height: 100%
}
.carrucel ul li .imagen {
	width: 100%;
	height: 100%;
	background-image: url('../images/inicio/fondo-flores-01.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

.carrucel ul li .imagen #logo {
	position: absolute;
	width: 738px;
	height: 233px;
	background-image: url('../images/inicio/logo-grande-01.png');
	left: 0;
	right: 0;
	margin: 0 auto;
	top: 193px;
}
#mainmenu {
    width: 100%;
    max-width: 998px;
    height: 54px;
    margin: 0 auto;
    margin-top: -70px;
    border-bottom: 2px solid #D5B1CF;
    position: relative;
    z-index: 99999;
    background: #FFFFFF;
}
#mainmenu #yw0 {
    padding: 0;
    width: 100%;
    height: 100%;
}

#mainmenu ul li {
    display: block;
    height: 100%;
    float: left;
    line-height: 54px;
    width: 119px;
}
#mainmenu ul li:first-child{
    width: 90px;
}
#mainmenu ul li a {
    color: #4D1965;
}
#mainmenu ul li a {
    color: #4D1965;
    display: block;
    padding: 0;
    text-align: center;
    background: 0;
    border-right: 1px solid #CECFCF;
        font-size: 12pt;
}
#mainmenu ul li a:hover, #mainmenu ul li.active a {
    color: #4D1965;
    background: transparent;
}
#content {
    padding: 0;    
    position: relative;
}
.content-wrapper {
    width: 100%;
    max-width: 998px;
    margin: 0 auto;
}
.categorias {
    background: #FFFFFF;
    padding-top: 20px;
}
.menu-categorias {
    width: 220px;
    border-top: 1px solid #CECFCF;
    margin-right: 28px;
    float: left
}

.menu-categorias .titulo {
    width: 100%;
    max-width: 218px;
    height: 60px;
    border-left: 2px solid #D5B1CF;
}
.titulo > div {
    margin-left: 24px;
}
.titulo > div:first-child {
    padding-top: 13px;
}

.categorias-content {
    float: left;
    width: 100%;
    max-width: 749px;
}
.lista-categorias {
    border-bottom: 1px solid #C5CECF;
}
.lista-categorias .listacontent {
    border-left: 1px solid #C5CeCF;
    border-top: 1px solid #C5CECF;
    border-right: 1px solid #C5CECF;
    height: 46px;
    padding-left: 24px;
    background: #F3F4F4;
    line-height: 46px;
}
.titular {
    width: 100%;    
    margin-bottom: 39px;
}
input.filtro {
    width: 182px;
    height: 24px;
    display: block;
    float: right;
    padding: 0;
    margin: 0;
    margin-right: 26px;
    padding-left: 14px;
    border: 1px solid #D5B1CF;
}
.categorias-content h1,
.titular h1 {
    color: #4D1965;
    float: left;
    font-weight: bold
}
.net-categorias {
    width: 100%;
}

.img-categoria {
    width: 160px;
    height: 168px;
    margin: 0px 27px 27px 0px;
    float: left;
    background-image: url('../images/inicio/depedidas-de-soltera-01.png'), 
    url('../images/inicio/Categorias-01.png');
    background-repeat: no-repeat, no-repeat;
    background-size: 53px, cover;
    background-position: center, center;
}
.img-categoria:nth-child(4n) {
margin-right: 0;
}
.difused-banner {
    background-image: url('../images/inicio/Destacados-01.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;    
    width: 100%;
    min-height: 336px;
}
.difused-banner h1 {
    padding-top: 26px;
    text-align: center;
    color: #FFFFFF;
}
.bold {
    font-weight: bold;
}
.ribbon-destacados{
    margin-top: 30px;    
    padding-bottom: 36px;
}
.destacado {
    width: 228px;
    height: 269px;
    float: left;
    margin-right: 25px;
    border: 1px solid #FFFFFF;

}
.destacado:last-child{
    margin-right: 0;
}
.img-destacado {
    width: 100%;
    height: 223px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../images/inicio/kennedy.png');
}
.info {
    background: white;
    width: 100%;
    height: 47px;
    text-align: center;
}
.info .nombre {
    font-size: 20px;
    font-weight: bold;
}
.info .cat {
    font-size: 14px;
}
.rate {
    width: 114px;
    height: 49px;
    background-color: rgba(0,0,0, 0.4);
    float: right;
}
.ribnn {
    width: 96px;
    height: 33px;
    margin: 0 auto;
}
.label {
    height: 16px;
    background-color: #D5B1CF;
    text-align: center;
    font-size: 12px;
    line-height: 16px;
    font-weight: bold;
    color: #000000;
}
.clasificados {
    background-image: url('../images/inicio/fondo-flores-gris-01.png') 
}
.clasificados .content-wrapper {
    padding-top: 60px;
}
.marcas .content-wrapper {
    margin-top: 48px;
    padding-bottom: 34px;    
    max-width: 1110px;
}
.marcas h2 {
    text-align: center;
    color:#4D1965;
    font-weight: bold;
    margin-bottom: 30px;
}
.marca {
    width: 162px;
    height: 162px;
    border: 2px solid #D5B1CF;  
    float: left;
    margin-right: 19px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../images/inicio/marca1-01.png');
}
.marca:last-child{
    margin-left: 0;
}

#mainmenu ul li a:hover, 
#mainmenu ul li.active a {
    color: #4D1965;
    background: #D6B0CE;
}
.content-wrapper:after,
.ribbon-destacados:after,
.net-categorias:after,
.titular:after,
.categorias:after {
    content: "";
    display: block;
    clear: both;
}